/* This file will control the main layout of the APP. The detailed css will be controlled by the bootstrap. */
.App-logo {
    height: 40px;
}

.App-header {
  position:fixed;
  top:0;
  width:100%;
  height:60px;
}

.App-footer {
  width: 100%;
  bottom: 0;
  height: 20px;
  position: fixed;
}

.App-leftmenu {
  width: 300px;
  bottom: 20px;
  top: 60px;
  left: 0px;
  position: fixed;
}

.App-rightcontent {
  width:  calc(100% - 300px);
  bottom: 20px;
  top: 60px;
  right: 0px;
  position: fixed;
}

.App-title {
  font-size: 1.5em;
}

.App-loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
