/* This file will control the main layout of the APP. The detailed css will be controlled by the bootstrap. */
.App-logo {
    height: 40px;
}

.App-header {
  position:fixed;
  top:0;
  width:100%;
  height:60px;
}

.App-footer {
  width: 100%;
  bottom: 0;
  height: 20px;
  position: fixed;
}

.App-leftmenu {
  width: 300px;
  bottom: 20px;
  top: 60px;
  left: 0px;
  position: fixed;
}

.App-rightcontent {
  width:  calc(100% - 300px);
  bottom: 20px;
  top: 60px;
  right: 0px;
  position: fixed;
}

.App-title {
  font-size: 1.5em;
}
